.Modal {
    position: fixed;
    z-index: 200;
    border: 2px solid rgb(3, 104, 144);
    box-shadow: 0 2px 2px #ccc;
    background: linear-gradient(rgba(0, 14, 84, 0.5), rgba(52, 85, 234, 0.5));
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    top: 20%;
    left: 30%;
    width: 40%;
    transition: all 0.3s ease-out;
    border-radius: 25px;
    color: aqua;
    font: 1.2em cursive;
    transition: all 0.3s ease-out;
    text-shadow: 2px 2px 4px #000000;
}

.Modal2 {
padding-bottom: 20px;
}  

.Contact {
    width: 30%;
    left: 35%;
}  

.About {
    color: beige;
    font-size: 15px;
    padding: 20px;
    line-height: 30px;
}  

.Education {
    color: beige;
    font-size: 15px;
    padding: 10px;
    line-height: 22px;
    left: 14%;
    top: 11%;
}  

.Education2 {
    color: beige;
    font-size: 15px;
    padding: 10px;
    line-height: 22px;
    left: 14%;
    width: 75%;
    top: 11%;
}  
.title{
    color: aqua;
}
















.Modal .Certs {
    color: beige;
    font-size: 12px;
    }  

.Modal .Certs2 {
    color: aqua;
    font-size: 14px;
}  

.Modal .Certs3 {
    color: rgb(114, 136, 234);
    font-size: 25px;
    text-shadow: 2px 2px 4px #000000;
    padding-top: 20px;
} 

.ModalOpen {
    animation: openModal 0.4s ease-out forwards;
}

.ModalClosed {
    animation: closeModal 0.4s ease-out forwards;
}

@keyframes openModal {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    50% {
        opacity: 1;
        transform: translateY(90%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes closeModal {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        opacity: 0.8;
        transform: translateY(60%);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
   }

a>div { display: none; }
a:hover>div { display: block; }


.img-responsive{
    height: 40px;
    border-radius: 15px;
}


