.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#loggedin {
  font-size: 13px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin-left: 17%;
  background: linear-gradient(rgba(0, 14, 84, 0.5), rgba(52, 85, 234, 0.5));
  border-radius: 0px 0px 10px 10px;
  padding: 10px;
}

.active {
  color: green;
}


#background-video{

  width: 100vw;
  height: 100vh;
  position: absolute;
  object-fit: cover;
  top: 0;
  z-index: -2;
  display: flex;

  }

#sectionStyle{
  width: 100vw;
  height: 100vh;
  position: absolute;
  object-fit: cover;
  top: 0;
  z-index: -2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#sectionStyle2{
  position: absolute;
  top: 0;
  font: 1.2em cursive;
  padding-top: 10px;
  color: #61dafb;

}

#weatherStyle {
  font: 15px cursive;
  font-style: italic;
  border-radius: 25px;
  border: 2px solid rgb(3, 104, 144);
  padding: 15px;
  margin: 10px;
  background: linear-gradient(rgba(0, 14, 84, 0.5), rgba(52, 85, 234, 0.5));
  color: #44b0cd;

}
